# Supabase Config
EXPO_PUBLIC_SUPABASE_URL=https://xurxuikgxnrzmrgkwkhy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_PsO6bN7zjtun5gP7rFfxYg_ZoaQF9dL
# AI Config (OpenAI/Gemini compatible format)
EXPO_PUBLIC_AI_API_KEY=sk-your-key
